<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
	  <link rel='stylesheet' href='/css/bootstrap.min.css' />
	  <link rel='stylesheet' href='/css/app.css' />
	  <link rel="shortcut icon" type="image/png" href="/assets/favicon.png?v=4"/>
  </head>
  <body>

    <div class="content-wrap">
	    <div class="header">
		    <nav>
			    <ul>
				    <li>
					    <a href="/">Home</a>
				    </li>
				    <li>
					    <a href="/upload">Upload</a>
				    </li>
			    </ul>
		    </nav>
	    </div>

	    <div class="body">
		    {{{body}}}
	    </div>
    </div>

    <!-- Vue Templates -->
    {{{{raw}}}}
    <script type="text/vue-template" id="template-upload">
	    <div class="dropbox-container">
		    <form enctype="multipart/form-data" novalidate v-if="isInitial || isSaving">
			    <div class="dropbox">
				    <input type="file" multiple :name="uploadFieldName" :disabled="isSaving" @change="filesChange($event.target.name, $event.target.files)"
				           accept="text/csv" class="input-file">
				    <p v-if="isInitial">
					    Drag your file(s) here to begin<br> or click to browse
				    </p>
				    <p v-if="isSaving">
					    Uploading {{ fileCount }} files...
				    </p>
			    </div>
		    </form>
		    <div class="isSuccess" v-if="isSuccess">
			    <p>Files were uploaded successfully.</p>
			    <button class="btn btn-outline-success" @click="reset()">Add more files</button>
		    </div>
		    <div class="isFailed" v-if="isFailed">
			    <p>There was an error! Failed to upload successfully.</p>
			    <button class="btn btn-outline-danger" @click="reset()">Try Again</button>
		    </div>
	    </div>
	</script>

    <script type="text/vue-template" id="template-user-list">
	    <div class="user-list">
		    <div class="header">
			    <h3>Users of Close2Home</h3>
			    <p>Select one to expand their info &hellip;</p>
		    </div>
		    <div class="flip-wrap" v-bind:class="{ flipped: flipped }">
			    <div class="flip-container">
				    <div class="users-container" v-if="users">
					    <div class="user-line" v-for="user in users" @click="selectUser(user)">
						    <span class="avatar">{{ initial(user.name) }}</span>
						    <span>{{user.name}}</span>
					    </div>
				    </div>
			    </div>
			    <div class="flip-container back">
				    <div class="header" v-if="selectedUser">
					    <span class="avatar">{{ initial(selectedUser.name) }}</span>
					    <h3>{{selectedUser.name}}</h3>
					    <span class="reset" @click="reset()"></span>
				    </div>
				    <div class="user" v-if="selectedUser">
					    <div class="list">
						    <div class="list-row">
							    <span class="key">Gender</span>
							    <span class="value">{{selectedUser.gender}}</span>
						    </div>
						    <div class="list-row">
							    <span class="key">County</span>
							    <span class="value">{{selectedUser.county}}</span>
						    </div>
						    <div class="list-row">
							    <span class="key interests">Interests</span>
							    <span class="value">
								    <span class="interest" v-for="interest in selectedUser.interests">{{interest.name}}</span>
							    </span>
						    </div>
					    </div>
					    <h4 class="matches-header">User Matches</h4>
					    <div class="users-container" v-if="selectedUser.matches">
						    <div class="user-line" v-for="user in selectedUser.matches" @click="selectUser(user)">
							    <span class="avatar">{{ initial(user.name) }}</span>
							    <span>{{user.name}}</span>
						    </div>
					    </div>
				    </div>
			    </div>
		    </div>
	    </div>
    </script>
    {{{{/raw}}}}
    <!--END: Vue Templates -->

    <script type="text/javascript" src="/js/axios.min.js"></script>
    <script type="text/javascript" src="/js/vue.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>
